.answer {
  border: 1px solid #b8dce2;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 10px;
}

.bg-primary {
  background-color: #00aeff;
}

body {
  background-color: #f8f9fa;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.card {
  background-color: #e7f3f5;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #b8dce2;
  margin-top: 40px
}

.d-flex {
  display: flex;
}

.error {
  background-color: red;
  border: 1px solid rgb(145, 1, 1);
  color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin: 0px;
  padding: 10px;
  height: 40px;
}

.justify-content-between {
  justify-content: space-between
}

.next {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center
}

.next button {
  border-radius: 10px;
  border: 1px solid #b8dce2;
  background-color: #10a9c5;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.p-10 {
  padding: 10px
}

.pt-10 {
  padding-top: 10px;
}

.profile {
  background-color: #ccc;
  color: #373737;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  padding-bottom: 10px;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-bottom: 1px solid black;
}

.table :first-child {
  border-right: 1px solid black;
  width: 50%;
}

.table div {
  padding: 5px
}